@mixin flex ($a, $b, $c) {
    display: flex;
    flex-direction: $a;
    justify-content: $b;
    align-items: $c;
}

@mixin wid_hei ($a, $b) {
    width: $a;
    height: $b;
}


/*-----------------------------------------------------------------------------------------------------------------*/

.cart_basket {
    @include flex(row, flex-start, flex-start);
    @include wid_hei(100%, fit-content);
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.pro_img {
    img {
        @include wid_hei(100px, auto);
    }
}

.pro_details {
    @include flex(column, space-between, flex-start);
    @include wid_hei(100%, 150px);
    margin-left: 20px;
}

.pro_price {
    font-size: 18px;
}

.pro_title {
    p {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #027194;
    }
}

.pro_price {
    @include wid_hei(80px, auto);
    margin-left: 15px;
    p {
        font-weight: bold;
    }
}

.pro_options {
    @include wid_hei(100%, auto);
    @include flex(row, flex-start, center);
}

.pro_quantitiy {
    @include flex(row, space-between, center);
    @include wid_hei(80px, auto);
    margin-right: 40px;
    p {
        font-weight: bold;
        font-size: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 8px;
    }
    button {
        border: none;
        outline: none;
        padding: 4px 5px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 999px;
        border: 1px solid lightgray;
        &:hover {
            background-color: rgb(216, 216, 216);
        }
    }
}

.delete {
    border: none;
    outline: none;
    padding: 5px 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    &:hover {
        background-color: rgb(216, 216, 216);
    }
}