/*---------------------------------------------------------------------------------------------------------------*/
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarMenu__openIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 10px;
  color: #ebdede;
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 2px;
}

.sidebarMenu__openIcon:hover {
  border-color: white;
}

.sidebarMenu__openIcona svg * {
  width: 20px;
  height: 18px;
}

* > .sidebarMenu__menuList a {
  color: #575757;
  text-decoration: none;
}

.sidebarMenu__menuList {
  width: 300px;
  height: auto;
}

.links .MuiSvgIcon-root {
  color: black;
}

.sidebarMenu__menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebarMenu__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  align-items: center;
}

.sidebarMenu__menu:hover {
  background-color: #eaeded;
}

.sidebarMenu__menu > a:hover a:visited a:active {
  text-decoration: none !important;
}

.sidebarMenu__devider {
  border-bottom: 1px solid #c9c9c9;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sidebarMenu__signIn a, .sidebarMenu__signIn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  color: #fdfdfd;
  background-color: #232f3e;
  font-size: 19px;
}

.sidebarMenu__signIn:active a:active, .sidebarMenu__signIn a:active {
  background-color: #0f1111;
}

.sidebarMenu__userIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3%;
  margin-top: -1%;
}
/*# sourceMappingURL=SidebarMenu.css.map */